body{
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
}

main{
  margin: auto;
  padding: 2rem;
}


h1,h2 {
  font-weight: bold;
}


a:hover {
  text-decoration: underline;
}

/*This line of code was taken from https://stackoverflow.com/a/40021713*/
/*I tried to do a custom image for each bullet point but had to use a pseudo element to accomplish it*/
li {
	margin: 0;
	padding: 3.5ch 0 36px 84px;
	list-style: none;
	
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 75px;
  
}

li.fallen {
  background-image: url(images/Fallen_Avatar.webp);
}
li.cabal {
  background-image: url(images/cabal.JPG);
}
li.vex{
  background-image: url(images/cabal.JPG);
}
li.hive{
  background-image: url(images/cabal.JPG);
}
li.taken{
  background-image: url(images/cabal.JPG);
}