body{
  font-size: 22px;
  line-height: 1.5;
}

main{
  margin: auto;
  padding: 2rem;
}


h1,h2 {
  font-weight: bold;
}


a:hover {
  text-decoration: underline;
}

.cabal {
  list-style-image: url(/images/cabal.jpeg);
  
}

li {
  list-style: none;
}
li::before {
  content: '';
  display: inline-block;
  height: y;
  width: x;
}

li.fallen {
  background-image: url();
}

li.cabal {
  background-image: url();
}