body {
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;

  background-image: url(images/forsaken.JPEG);
  background-position-x: 9%;
  background-position-y: 50%;
  background-attachment: fixed;
  /*To make sure the background is responsive*/
  background-size: cover;
  background-repeat: no-repeat;
  /*Keeps the background image centered even when mobile*/
  background-position: center center;
}

main {
  margin: auto;
  margin-top: 3ch;
  margin-bottom: 3ch;
  padding: 3rem;
  
  max-width: 60%;
 
  border-top: 20cm;
  border: 10cm;
  border-radius: 30px;
  
  font-weight:lighter;
  /*I found out about rgba through this code: https://stackoverflow.com/a/5135033*/
  color: rgba(234, 221, 203, 0.866);
  background-color:rgba(11, 11, 11, 0.95)    /*  rgb, the last part is the opacity option */ ;
}


header {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 2rem;
  
  height: auto;
  width: 230px;
  margin:auto;
  padding-top: 10px; 
  /*Padding right is added as the lines-pacing ruins the title being centred and this extra padding is needed to center the title.*/ 
  padding-right: 11vw;
  
  background-color: none;
  color: white;
}

h2 {
  font-weight: bold;
  text-align: center;
}

.gametitle {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

/*This line of code was taken from https://stackoverflow.com/a/40021713*/
/*I tried to do a custom image for each bullet point but had to use a pseudo element to accomplish it*/
li {
	margin: 0;
  /*I would have loved to lower the space between the description and titles but the titles would no longer be centered with the logos.*/
	padding: 3.5ch 0 36px 84px;
	list-style: none;
	
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 75px;

}

.descr {
  margin-left: 7ch;
  margin-top: 1px;
  border-top: 10px;
  padding-top: 10px;

}

/*The images all have capitals for their assignment is because github is case sensitive and, it works when I do it like that and doesn't when I don't*/
li.fallen {
  background-image: url(images/beyond-light-svgrepo-com.PNG);
}
li.cabal {
  background-image: url(images/cabal_logo.PNG);
}
li.vex{
  background-image: url(images/vex_logo.PNG);
}
li.hive{
  background-image: url(images/thehive.PNG);
}
li.taken{
  background-image: url(images/taken.PNG);
}

table {
  float: right;
  text-align:center;
  color: rgb(234, 221, 203);
  margin-top: 2.8ch;
}

tr {
  background-color:rgba(11, 11, 11, 0.95);
  border-radius: 50%;

}

.enemyimg {
  float: right;
  max-width: 10ch;
  border-radius: 10px;
  display: block;
  /*the reason why it is at zero value is because it is needed to line up the image with the title above.*/
  margin-left: 0ch;
}

